:root {
    --jumbotron-padding-y: 3rem;
  }

  .loader {
    position: fixed;
    width: 40%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.75);
    padding: 3% 3%;
    text-align: center;
  }

  .loader > header{
    font-size: 2em;
    color: green;
  }

  .customModal {
    position: fixed;
    width: 40%;
    background-color: #FFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.75);
    padding: 3% 3%;
    text-align: center;
  }

  .customModal > header{
    font-size: 2em;
    color: green;
  }
  
  .jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: calc(var(--jumbotron-padding-y) * 2);
      padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }

  .col-control{
    padding-bottom: 2px; 
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }

  .header-store{
    position: fixed;
    width:100%; 
    height: 4em;
    z-index: 999;
  }

  @media only screen and (max-width: 767px){
    .jumbotron {
      padding-top: 100px; 
    }

    .customModal {
      position: fixed;
      width: 80%;
      background-color: #FFF;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9999;
      box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.75);
      padding: 8% 3%;
      text-align: center;
      font-size: 1em;
    }
  
    .customModal > header{
      font-size: 1.5em;
      color: green;
    }

    .loader > header{
      font-size: 1em;
      color: green;
    }
  }

  .container-checkout {
    max-width: 960px;
    padding-top: 1em; 
    padding-bottom: 1em;  
  }

  .cart-container{
    padding-top: 100px; 
  }

  .botao{
    background-color: black; 
  }
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  .border-top-gray { border-top-color: #adb5bd; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
  .lh-condensed { line-height: 1.25; }

 